body,
html {
    font-family: "Saira Condensed", sans-serif;
    font-variant-ligatures: no-common-ligatures;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 12px;
    font-size: 20px;
    font-family: Saira Condensed;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>.logo-sm {
    height: 18px;
    width: auto;
}
.btn-lang {
    color: white;
    text-decoration: none;
}
.btn-lang:hover {
    color: #ccc;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container > .logo {
    height: 59px;
    width: auto;
    margin-bottom: 23px;
}

.container .btn {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 11px 39px;
}

.title {
    font-family: Saira Condensed;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 16px;
}
.subtitle {
    font-family: Saira Condensed;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    margin-top: 0px;
}
.subtitle > br {
    display: none;
}
.subscribe {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    height: 100px;
}
.subscribe-container {
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 30px;
    width: 400px;
    max-width: calc(100% - 8rem);
    margin: 0 auto;
    padding: 8px;
    border: 0.5px solid white;
}
#mce-EMAIL {
    width: 75%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    outline: none;
    
}
#mc-embedded-subscribe{
    width: 25%;
    height: 100%;
    font-family: Saira Condensed;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #000;
    color: #fff;
    border-left: 1px solid #fff;
}
#mc-embedded-subscribe:focus {
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
}

#subscribe-result {
    text-align: center;
}

#subscribe-result a{
    color: #fff;
}

@media (max-width: 768px) {
    .title {
        letter-spacing: 8px;
    }
    .subtitle {
        letter-spacing: 0px;
        font-size: 1.5rem;
    }
}
@media (min-width: 768.02px) {
    .subtitle > br {
        display: inline;
    }
}
