$mobile-size: 768px;

@media only screen and (max-width: $mobile-size) {

    .container {
        padding: 0 1.5rem;
    }

    .landing {
        padding: 0 1.5rem;
        .staking-method-list {
            .btn {
                margin: 20px auto !important;
                display: block;
                text-align: center;
                width: 200px;
            }
        }
    }
    .dstaking {
        .nax.sub-container {
            .btn {
                margin-right: 0 !important;
                margin: 10px auto;
                display: block;
                text-align: center;
                width: 200px;
            }
        }
    }
}